<%- include('components/header'); %> 

    <link rel="stylesheet" href="/public/css/dashboard.css">
    <script defer src="/public/js/banner.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js"></script>
    <link rel="stylesheet" href="/public/css/gallery.css">
    <script defer src="/public/js/post.js"></script>
    <title>Dashboard</title>
</head>
<body>

    <div class="nav-icon flex justify-center items-center" style="left: 1%;"> 
        <a href="/admin-logout"><i class="bi bi-box-arrow-left"></i></a>
    </div>

    <div id="banner">
        <h1 id="p5title" style="left: 48%;"> Dashboard </h1>
        <div id="lineCanvas"> </div>
    </div>

    <section class="grid-container-two"> 
        <div class="rounded-md bg-white/10 w-64 h-auto ">
            <div class="flex cursor-pointer text-black w-auto h-16 py-5 px-5 mx-1.5 my-1.5 bg-white rounded-md duration-500 hover:shadow-lg hover:shadow-white/30" onclick="post('/panel', 'monitor', 'panel')">
                <div class="panel-option-icon">
                    <i class="bi bi-display-fill"></i>
                </div>
                <div class="panel-option-name">  
                    <div class="mx-5 duration-500 hover:-translate-y-2.5">
                        Monitor
                    </div> 
                </div> 
            </div>  
            <div class="flex cursor-pointer text-black w-auto h-16 py-5 px-5 mx-1.5 my-1.5 bg-white rounded-md duration-500 hover:shadow-lg hover:shadow-white/30" onclick="post('/panel', 'edit', 'panel')"> 
                <div class="panel-option-icon" >
                    <!-- <i class="bi bi-pen-fill"></i> -->
                    <img src="/public/media/favicon.png" style="width: 20px;">
                </div>
                <div class="panel-option-name">
                    <div class="mx-5 duration-500 hover:-translate-y-2.5">
                        NFTs Status
                    </div> 
                </div> 
            </div>  
            <div class="flex cursor-pointer text-black w-auto h-16 py-5 px-5 mx-1.5 my-1.5 bg-white rounded-md duration-500 hover:shadow-lg hover:shadow-white/30"> 
                <div class="panel-option-icon">
                    <i class="bi bi-people-fill"></i>
                </div>
                <div class="panel-option-name">
                    <div class="mx-5 duration-500 hover:-translate-y-2.5">
                        Owners
                    </div> 
                </div> 
            </div>
            <div class="flex cursor-pointer text-black w-auto h-16 py-5 px-5 mx-1.5 my-1.5 bg-white rounded-md duration-500 hover:shadow-lg hover:shadow-white/30" onclick="post('/panel', 'settings', 'panel')"> 
                <div class="panel-option-icon"> 
                    <i class="bi bi-gear-fill"></i>
                </div>
                <div class="panel-option-name">
                    <div class="mx-5 duration-500 hover:-translate-y-2.5">
                        Settings
                    </div> 
                </div> 
            </div>
            <div class="flex cursor-pointer text-black w-auto h-16 py-5 px-5 mx-1.5 my-1.5 bg-white rounded-md duration-500 hover:shadow-lg hover:shadow-white/30" > 
                <div class="panel-option-icon">
                    <i class="bi bi-plus-circle"></i>
                </div>
                <div class="mx-5 duration-500 hover:-translate-y-2.5">
                    Add
                </div> 
            </div>
            <div class="flex cursor-pointer text-black w-auto h-16 py-5 px-5 mx-1.5 my-1.5 bg-white rounded-md duration-500 hover:shadow-md hover:shadow-white/30"> 
                <div class="panel-option-icon">
                    <i class="bi bi-chat-fill"></i>
                </div>
                <div class="panel-option-name">
                    <div class="mx-5 duration-500 hover:-translate-y-2.5">
                        Chat
                    </div> 
                </div> 
            </div>
        </div>


        <div>
            <% if (option == "monitor") { %> 

                <%- include('./dashborad-views/monitor'); %>
    
            <%} else if (option == "edit") { %>
    
                <%- include('./dashborad-views/edit', {data:[]}); %>
    
            <%} else if (option == "settings") { %>
    
                <%- include('./dashborad-views/settings', {mms}); %>

            <%} else { %>

                <h1 class="my-5 text-2xl">Welcome, Vibing Acsii Boss</h1>

            <% } %>
        </div>
    </section>
    <%- include('components/footer'); %>
</body>
    
</html>