    <%- include('components/header'); %>

    <link rel="stylesheet" href="/public/css/home.css">
    <script defer src="/public/js/banner.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.126.1/build/three.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.116.1/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.122.0/examples/js/loaders/GLTFLoader.js"> </script>
    <script defer src="/public/js/threeModel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js"></script>
    <link rel="stylesheet" href="/public/css/slider.css">
    <title>Vibing Ascii</title>
</head>
<body>

    <div class="flex h-screen justify-center items-center">
      <h1 class="text-5xl absolute"> Vibing Ascii </h1>
      <div id="lineCanvas"> </div>
    </div>

    <div class="nav-icon flex justify-center items-center" style="right: 1%;"> 
      <a href="./holders"><i class="bi bi-three-dots-vertical"></i></a>
    </div>

    <section>
      <div class="flex">
          <div class="bg-black w-1/2 hover:w-3/4 duration-1000" style="height: 620px;">
            <div class="absolute" style="top: 650px; left: 5%;">
              <p>XXXXXXXXXXXXXXXXXXXXX</p>
              <p>XXXXXXXXXXXXXXXXXXXXX</p>
              <p>XXXXXXXXXXXXXXXXXXXXX</p>
              <p>XXXXXXXXXXXXXXXXXXXXX</p>
            </div> 
      </div>
      <div class="bg-white w-1/2 hover:w-3/4 duration-1000" style="height: 620px;">
          <div class="text-black absolute" style="top: 1000px; left: 75%;">
            <p>XXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXX</p>
          </div>
        </div>
      </div>
  </section>

      <section>
        <div class="grid grid-cols-2">
            <div class="my-16 text-center w-full h-full">
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
            </div>
            
            <div class="my-16 text-center w-full h-full" id="3dalpha">
                <!-- This work is based on "Voxel Alphabet" (https://sketchfab.com/3d-models/voxel-alphabet-4f9f377bff724326a9a71b03acdd02b2) by rodrivgm (https://sketchfab.com/rodrivgm) licensed under CC-BY-4.0 (http://creativecommons.org/licenses/by/4.0/) -->
            </div>

            <div class="my-16 text-center w-full h-full" id="3dalpha2"></div>

            <div class="my-16 text-center w-full h-full" id="">
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
            </div>

            <div class="my-16 text-center w-full h-full">
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
            </div>
            
            <div class="my-16 text-center w-full h-full" id="3dalpha3"></div>

        </div>
      </section>

    <section class="gallery">
      <div> 
        <h2 class="gall-title"> Gallery </h2>
      </div>
        <div class="slider-container">
          <div class="slider">
            <input type="radio" name="testimonial" id="t-1" />
            <input type="radio" name="testimonial" id="t-2" />
            <input type="radio" name="testimonial" id="t-3" checked />
            <input type="radio" name="testimonial" id="t-4" />
            <input type="radio" name="testimonial" id="t-5" />
            <div class="testimonials mb-8" id="rand-slide">

              <% for(let [index, item] of data.entries()) {%>
                <label class="item" for="t-<%= ++index %>">
                  <div class="mycard">
                    <div>
                      <img src="<%= item.image_thumbnail_url%>" alt="nivel5" class="cardimg" />
                    </div>
                    <div>
                      <p class="cardtitle"><%= item.name %></p>
                      <p class="carddescription"> <%= item.description %> </p>
                      <div class="pricing">
                        <img src="/public/media/ethereum-eth-logo.png" class="ethlogo" alt="" srcset="">
                        <p class="cardprice"> -- </p>
                      </div>
                    </div>
                  </div>
                </label>
              <% } %>

            </div>
              
            <div class="dots">
              <label for="t-1"></label>
              <label for="t-2"></label>
              <label for="t-3"></label>
              <label for="t-4"></label>
              <label for="t-5"></label>
            </div>
          </div>
        </div>

        <div> 
          <h4> <a href="/gallery">view all</a> </h4>
        </div>
    </section>

    <div style="padding: 50px 0;"></div>

    <section>
      <h2>Founder</h2>
      <div style="padding: 20px 0;"></div>

      <div class="center-flip-card">
        <div class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
                <h1>Anas Elsebay</h1>
                <p> Web Developer </p>
              </div>
              <div class="flip-card-back">
                <h1>Back</h1> 
              </div>
          </div>
        </div>
      </div>
      
    </section>

    <div style="padding: 50px 0;"></div>
  
    <%- include('components/footer'); %>
</body>
</html>



