<%- include('components/header'); %>

    <link rel="stylesheet" href="/public/css/gallery.css">
    <script defer src="/public/js/banner.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js"></script>
    <title>Gallery</title>
</head>
<body>

    <div class="nav-icon flex justify-center items-center" style="left: 1%;"> 
      <a href="./"> <i class="bi bi-arrow-return-left"> </i></a>
    </div>

    <div id="banner">
      <h1 id="p5title" style="left: 50%;"> Vibing Ascii <br> Collection </h1>
        <a href="https://opensea.io/collection/vibing-ascii">
          <img class="os-logo" src="/public/media/Logomark-Transparent White.png" href="https://opensea.io/collection/vibing-ascii" alt="">
        </a>
      <div id="lineCanvas"> </div>
    </div>
      
    <section class="grid grid-cols-4 gap-4 justify-center justify-items-center h-full" id="gallery-section">

      <% for(var item of data) {%> 
        <div class="item" onclick="window.location.href = '<%= item.permalink %>' ">
          <div class="mycard">
            <div>
              <img src="<%= item.image_thumbnail_url%>" alt="nivel5" class="cardimg" />
            </div>
            <div>
              <p class="cardtitle"><%= item.name %></p>
              <p class="carddescription"> <%= item.description %> </p>
              <div class="pricing">
                <img src="/public/media/ethereum-eth-logo.png" class="ethlogo" alt="" srcset="">
                <p class="cardprice"> -- </p>
              </div>
            </div>
          </div>
        </div>
      <% } %>

    </section>

    <section class="hero container max-w-screen-lg mx-auto pb-10">
      <a href="https://opensea.io/collection/vibing-ascii" title="Buy on OpenSea" target="_blank">
        <img class="mx-auto" style="width:220px; border-radius:5px; box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);" src="https://storage.googleapis.com/opensea-static/Logomark/Badge%20-%20Available%20On%20-%20BW.png" alt="Available on OpenSea"/>
      </a>
    </section>

    <%- include('components/footer'); %>
</body>
</html>